*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(260deg, #2346ae 0%, #b062cd 100%);
}

a {
  color: #fff;
  font-weight: 100;
  letter-spacing: 0.125rem;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.2);
  padding: 1.25rem 0.3125rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition: all 0.5s;
}

.toggleNav {
  display: none;
}

a:hover {
  background: rgba(0, 0, 0, 0.3);
}

.wrapper {
  max-width: 62.5rem;
  margin: 0 auto;
  padding: 3.125rem;
}

.toggleNav {
  display: none;
}

img {
  width: 100%;
}

input {
  padding: 0.625rem;
  border: 0;
}

section,
footer {
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  padding: 0.625rem;
  margin: 1.25rem 0;
  color: #fff;
  font-weight: 100;
}


/* FLEX CONTAINER */

.flex-nav ul {
  display: flex;
  border: 0.0625rem solid #000;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* FLEX ITEMS */

.flex-nav li {
  flex: 3;
}

.flex-nav .social {
  flex: 1;
}

@media all and (max-width: 1000px) {
  .flex-nav ul {
    flex-wrap: wrap;
  }
  .flex-nav li {
    flex: 1 1 50%;
  }
}

@media all and (max-width: 500px) {
  .flex-nav li {
    flex-basis: 100%;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  .wrapper > * {
    order: 999;
  }

  .flex-nav {
    order: 1;
  }

  .toggleNav {
    display: block;
  }

  .flex-nav ul {
    display: none;
  }
  .flex-nav ul.open {
    display: flex;
  }

  /* Header */
  .main-header {
    order: 2;
  }

  /* Details */
  .details {
    order: 3;
  }

  /* Sign Up */
  .signup {
    order: 4;
  }
}
