*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(260deg, #2346ae 0%, #c16edf 100%) ;
}

a {
    color: #fff;
    font-weight: 100;
    letter-spacing: .125rem;
    text-decoration: none;
    background: rgba(0,0,0,0.2);
    padding: 1.25rem .3125rem;
    display: inline-block;
    width: 100%;
    text-align: center;
    transition: all 0.5s
}

a:hover {
    background: rgba(0,0,0,0.3);
}

.wrapper {
    max-width: 62.5rem;
    margin: 0 auto;
    padding: 3.125rem;
}

/* FLEX CONTAINER */

.flex-nav ul {
    display: flex;
    border: .0625rem solid #000;
    list-style: none;
    margin: 0;
    padding: 0;
}
